ol,li{ list-style:none}

*{padding: 0;margin: 0;}
        
*{box-sizing:border-box}
*::after{
  box-sizing:border-box
}
*::before{
  box-sizing:border-box
}

.page{
  display: flex;
  height: 100vh;

}
.page >.musicList{
  width: 20%;
  border-right: 1px solid #ddd;
}
.songMessage{
  flex-direction: column;
  display: flex;
  height: 60%;
  border-bottom: 1px #ddd solid;
}
form{
  flex-direction: column;
  display: flex;
  padding-left: 10%;
  padding-top: 3%;
}
form label{
  font-size: 20px;
  padding: 10px 10px;
}
form input{
font: inherit;
border: 1px solid #ddd;
border-radius: 6px;
outline: none;

}
input[type=button] {
  margin-left: 130px;
  width: 60px;
  outline: none;
  border: none;
  color: #FFF;
  background: #cb4e4e;
  border-radius: 6px;
  font-size: 1em;
  line-height: 1.5em;
  padding: 5px 15px;
  cursor: pointer;
}
input[type=button]:hover {
  background: #ab3c3c;
}
main{
  background: #efefef;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.musicList{
  text-align: left;
}
.musicList>.newSong{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid #999;
}
.musicList li{
  border-bottom: 1px solid #ddd;
  padding: 10px 30px; 
  margin-left: 10px;
  margin-right: 10px;
}
.musicList li.active{
 background-color: rgb(161, 155, 155);
}

#container {
  height: 250px;
  border: 2px dashed rgb(112, 109, 109);
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#pickfiles {
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}
