@charset "UTF-8";
@media(max-width:1024px){
  .topbar {
    position: fixed;
  }
  .navbar {
    position: fixed;
    top: 15.4589vw;
  }
  .s1,.content{
    margin-top: 25.1208vw;
  }
}

@media(min-width:1025px){
  .topbar {
    position: relative;

  }
  .navbar {
    position: inherit;
    
  }
  .s1,.content{
    margin-top: 0;
  }
}


ol,
li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}
body {
  font: 3.3816vw/1.5 Helvetica,sans-serif;
  color: #333;
  -webkit-tap-highlight-color:transparent;
}
a{text-decoration: none; color: #333;}

/*顶部*/
.topbar {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 /* position: fixed;*/
 top: 0;
 left: 0;
  background: #d43c33;
  height: 15.45894vw;
  padding: 0vw 2.41546vw;
}

.topbar .topsvg {
  width: 34.2995vw;
  height: 6.0386vw;
}
.topbar a {
  display: block;
  text-decoration: none;
  line-height: 7.2464vw;
  padding: 0 2.4155vw;
  color: #fff;
  font-size: 3.6232vw;
  border-radius: 37.5%/100%;
  border: 1px solid #fff;
}
/*标签 切换 导航栏*/
.navbar {
  z-index: 10;
  /*position: fixed;
  top: 15.4589vw;*/
  width: 100%;
  height: 9.6618vw;
  background: #fff;
  border-bottom: 0.5px solid #ccc;
}
.navbar ol {
  display: flex;
  text-align: center;
}
.navbar ol > li {
  width: 33.33%;
  font-size: 3.6232vw;
  line-height: 9.6618vw;
  
}
.navbar ol > li > span{
  display: inline-block;
  position: relative;
  padding: 0 1.2077vw;
}

.navbar ol > li.active> span::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  left:0;
  bottom: -0.2415vw;
border-top: 0.4831vw solid #d43c33;
width: 100%;
}

.content.active{
  display: block;
}
.content{
  display: none;
}

/*第一部分*/
.s1 {
  
  /*margin-top: 25.1208vw;*/
}
.s1 h2{
  padding-top: 4.8309vw;
  padding-left: 2.1739vw;
    margin-bottom: 3.3816vw;
    font-size: 4.1063vw;
    line-height: 4.8309vw;
    font-weight: 400;
    position: relative;
}

.s1 h2::before{
  position: absolute;
  left: 0;
  content: '';
  height: 3.9vw;
  width: 0.4831vw;
  background-color: #d43c33;
  margin-top: 0.2415vw;
}
/*第一 部分  歌单*/
.s1>.sheet>ol{
  display: flex;
  text-align: center;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-bottom: 5.7971vw;
}
.s1>.sheet>ol>li{
  width: 33%;
  margin-bottom: 3.8647vw;
}
.s1>.sheet>ol>li>img{
width: 100%;
}
.s1>.sheet>ol>li>p{
  padding: 1.4493vw 0.4831vw 0 1.4493vw;
  text-align: left;
  line-height: 1.2;
  font-size: 3.1401vw;
}

/*第一 二部分  播放列表 通用*/
.s1>.last-music>.loading{
  display:flex;
  justify-content: center;
 
}
.s1>.last-music>h2{
  padding-top: 0;
  
}

.s2>.list>a,
.s1>.last-music>a{
  display: flex;
  position: relative;
  padding: 1.4493vw 0;
  border-bottom: thin solid #ccc;
  margin-left: 2.4155vw;
}

.s2>.list>a>.song>.song-name,
.s1>.last-music>a>.song>.song-name{
  font-size: 4.1063vw;
}
.s2>.list>a>.song>.song-message,
.s1>.last-music>a>.song>.song-message{
  display: flex;
  font-size: 2.8986vw;
  color: #888;
  
}
.s2>.list>a>.icon,
.s1>.last-music>a>.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.4155vw;
  position: absolute;
  right: 0;
  height: 100%;

}
.s2>.list>a>.icon>svg,
.s1>.last-music>a>.icon>svg{
 width: 5.314vw;
  height: 5.314vw;
  fill: #ccc;
  border-radius: 50%;

}
/*第一部分 尾部打开APP*/
.s1>.footer{
  height: 53.285vw;
  background: url(//s3.music.126.net/m/s/img/recommand_bg_2x.png?d045faf…) no-repeat;
  background-size: contain;
  
}
.s1>.footer>.logo{
  padding-top: 16.9%;
  text-align: center;
}
.s1>.footer>.logo>svg{

width: 55.5556vw;
height: 10.628vw;

}

.s1>.footer>.openapp{
  text-align: center;
  line-height: 9.1787vw;
  border: 0.2415vw solid #d33a31;
  border-radius: 9.1787vw;
  font-size: 3.8647vw;
  color: #d33a31;
  margin: 3.6232vw 8.9372vw 1.2077vw;
}
.s1>.footer>p{
  text-align: center;
  color: #888;
  font-size: 2.8986vw;
 
}

/*第二部分*/
/*第二部分 大背景*/
.s2>.hotop{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4.8309vw;
  height: 38.8889vw;
  background-size: contain;
  background-image: url(//s3.music.126.net/m/s/img/hot_music_bg_3x.jpg?2bfefd3ba37eaffbd66b7d108b9de26a) ;
}
.s2>.hotop::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: rgba(0,0,0,.2);

}

.s2>.hotop>.logo{
  z-index: 1;
  background-position: -5.7971vw -7.2464vw;
  width: 34.15vw;
  height: 16.1836vw;
  background-size: 40.0966vw 23.43vw;
  background-image: url(//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880) ;
}
.s2>.hotop>.hottime{
  z-index: 1;
  margin-top: 2.4155vw;
  color: hsla(0,0%,100%,.8);
  font-size: 2.8986vw;

}

/*第二部分 歌单*/
.s2>.list>a .song-num.top{
  color: #df3436;
}
.s2>.list>a .song-num{
    display: flex;
    color: #999;
    align-items: center;
    width: 6.7633vw;
    font-size: 4.1063vw;

}
.s2>.list>a>.song{
  width: 100%;
  border-bottom: thin solid #ccc; 
}
.s2>.list>a{
  border: none;
}
/*第二部分 结尾*/
.s2>.footer{
  line-height: 13.285vw;
  text-align: center;
}
.s2>.footer>span{
  color: #999;
  padding-right: 3.3816vw;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAyMiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSJub25lIiBzdHJva2U9IiNjY2MiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJtMSAxbDEwIDEwLTEwIDEwIi8+PC9zdmc+)100%  no-repeat ;
  background-size: 1.6908vw 2.8986vw ;
}

/*第三部分*/